description = "heder"

[viewBag]

[staticMenu]
code = "header"
==
<!--? Header Start -->
        <div class="header-area header-transparent pt-20">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="{{ 'Index'|page }}"><img src="{{'assets/img/logo/logo.png'|theme}}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">

                                    <nav>
                                      <!--  <ul id="navigation">
        <li class="{% if this.page.id == 'Index' %}active{% endif %}"><a href="{{ 'Index'|page }}">Home</a></li>
        <li class="{% if this.page.id == 'about' %}active{% endif %}"><a href="{{ 'about'|page }}">About</a></li>
        <li class="{% if this.page.id == 'services' %}active{% endif %}"><a href="/services">Services</a></li>
        <li class="{% if this.page.id == 'portfolio' %}active{% endif %}"><a href="{{ 'portfolio'|page }}">Portfolio</a></li>
        <li class="{% if this.page.id == 'blog' %}active{% endif %}"><a href="{{ 'blog'|page }}">Blog</a>
                                                <ul class="submenu">
                                                    <li><a href="{{ 'blog'|page }}">Blog</a></li>
                                                    <li><a href="{{ 'blog-details'|page}}">Blog Details</a></li>
                                                    <li><a href="{{ 'element'|page }}">Element</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{{ 'contact'|page }}">Contact</a></li>
                                        </ul> -->  
                                 
                                 {% if staticMenu.menuItems %}
    <ul>
        {% partial staticMenu ~ "::items" items=staticMenu.menuItems %}
    </ul>
{% endif %}
                                 
                                    </nav>


                                </div>
                                <div class="header-right-btn f-right d-none d-lg-block ml-30">
                                    <a href="from.html" class="btn header-btn">became a member</a>
                                </div>
                            </div>
                        </div>   
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->