[viewBag]
==
<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Barber </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{{'assets/img/favicon.ico'| theme}}">
    <!-- CSS here -->
    <link rel="stylesheet" href="{{'assets/css/bootstrap.min.css'|theme}}">
    <link rel="stylesheet" href="{{'assets/css/owl.carousel.min.css'|theme}}">
    <link rel="stylesheet" href="{{'assets/css/slicknav.css'|theme}}">
    <link rel="stylesheet" href="{{'assets/css/flaticon.css'|theme}}">
    <link rel="stylesheet" href="{{'assets/css/gijgo.css'|theme}}">
    <link rel="stylesheet" href="{{'assets/css/animate.min.css'|theme}}">
    <link rel="stylesheet" href="{{'assets/css/animated-headline.css'|theme}}">
    <link rel="stylesheet" href="{{'assets/css/magnific-popup.css'|theme}}">
    <link rel="stylesheet" href="{{'assets/css/fontawesome-all.min.css'|theme}}">
    <link rel="stylesheet" href="{{'assets/css/themify-icons.css'|theme}}">
    <link rel="stylesheet" href="{{'assets/css/slick.css'|theme}}">
    <link rel="stylesheet" href="{{'assets/css/nice-select.css'|theme}}">
    <link rel="stylesheet" href="{{'assets/css/style.css'|theme}}">