description = "Esqueleto de la web"
==
<html class="no-js" lang="zxx">

<head>
 {% partial "head" %}  
</head> 



<body style="background-color: #F6CD37">
    {% page %}

    <header>
        {% partial "header" %}
    </header> 

    <footer>
        {% partial "footer" %}
    </footer>
    
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->
    <script src="{{'./assets/js/vendor/modernizr-3.5.0.min.js'| theme}}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{{'./assets/js/vendor/jquery-1.12.4.min.js'| theme}}"></script>
    <script src="{{'./assets/js/popper.min.js'| theme}}"></script>
    <script src="{{'./assets/js/bootstrap.min.js'| theme}}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{{'./assets/js/jquery.slicknav.min.js'| theme}}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{{'./assets/js/owl.carousel.min.js'| theme}}"></script>
    <script src="{{'./assets/js/slick.min.js'| theme}}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{{'./assets/js/wow.min.js'| theme}}"></script>
    <script src="{{'./assets/js/animated.headline.js'| theme}}"></script>
    <script src="{{'./assets/js/jquery.magnific-popup.js'| theme}}"></script>

    <!-- Date Picker -->
    <script src="{{'./assets/js/gijgo.min.js'| theme}}"></script>
    <!-- Nice-select, sticky -->
    <script src="{{'./assets/js/jquery.nice-select.min.js'| theme}}"></script>
    <script src="{{'./assets/js/jquery.sticky.js'| theme}}"></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script src="{{'./assets/js/jquery.counterup.min.js'| theme}}"></script>
    <script src="{{'./assets/js/waypoints.min.js'| theme}}"></script>
    <script src="{{'./assets/js/jquery.countdown.min.js'| theme}}"></script>
    <script src="{{'./assets/js/hover-direction-snake.min.js'| theme}}"></script>

    <!-- contact js -->
    <script src="./assets/js/contact.js'| theme}}"></script>
    <script src="./assets/js/jquery.form.js'| theme}}"></script>
    <script src="./assets/js/jquery.validate.min.js'| theme}}"></script>
    <script src="./assets/js/mail-script.js'| theme}}"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js'| theme}}"></script>
    
    <!-- Jquery Plugins, main Jquery -->    
    <script src="{{'./assets/js/plugins.js'| theme}}"></script>
    <script src="{{'./assets/js/main.js'| theme}}"></script>
</body>

</html>