<main>
 <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2>Our Services</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--? Services Area Start -->
        <section class="service-area section-padding30" style="background-color: #F6CD37">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-7 col-lg-8 col-md-11 col-sm-11">
                        <div class="section-tittle text-center mb-90">
                            <span>Professional Services</span>
                            <h2>Our Best services that  we offering to you</h2>
                        </div>
                    </div>
                </div>
                <!-- Section caption -->
                
                <div class="row">
                    {%for service in result %}

                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="services-caption text-center mb-30">
                            <div class="service-icon">
                                <i class="flaticon-healthcare-and-medical"></i>
                            </div> 
                            <div class="service-cap">
                                 <h4><a href="{{service.slug|app }}">{{service.title}}</a></h4>
                                <h4>{{service.category.title}}</h4>

                                <p>{{service.description}}.</p>
                                <p>{{service.date|date('Y-m-d h:i')}}.</p>
                            </div>
                        </div>
                    </div>

                    {%endfor%}
                </div>
                
            </div>
        </section>
        <!-- Services Area End -->

    </main>

  