title = "services"
url = "/services/:slug?todos"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Gerardo\Services\Models\Service"
scope = "scopeStatusPopular"
scopeValue = "{{ :slug }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList builderList2]
modelClass = "Gerardo\Services\Models\Category"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<main>
 <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2>Our Services</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--? Services Area Start -->
        <section class="service-area section-padding30" style="background-color: #F6CD37">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-7 col-lg-8 col-md-11 col-sm-11">
                        <div class="section-tittle text-center mb-90">
                            <span>Professional Services</span>
                            <h2>Our Best services that  we offering to you</h2>
                            
                            
                            
{% set records = builderList2.records %}
{% set displayColumn = builderList2.displayColumn %}
{% set noRecordsMessage = builderList2.noRecordsMessage %}
{% set detailsPage = builderList2.detailsPage %}
{% set detailsKeyColumn = builderList2.detailsKeyColumn %}
{% set detailsUrlParameter = builderList2.detailsUrlParameter %}


    {% for record in records %}
        <h4><a href="{{'services'|page({slug:record.slug})}}">{{record.title}}</a></h4>
    {% endfor %}          
                        </div>
                    </div>
                </div>
                <!-- Section caption -->
                

    <div class="row">
    {% set records = builderList.records %}
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}
    
    {% for record in records %}

        <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="services-caption text-center mb-30">
                            <div class="service-icon">
                                <i class="flaticon-healthcare-and-medical"></i>
                            </div> 
                            <div class="service-cap">
                                 <h4><a href="{{'service'|page({slug:record.slug})}}">{{record.title}}</a></h4>
                                <h4>{{record.category.title}}</h4>

                                <p>{{record.description}}.</p>
                                <p>{{record.date|date('Y-m-d h:i')}}.</p>
                            </div>
                        </div>
                    </div>
              
    {% endfor %}
    
    </div>

   </div>
        </section>
    </main>