title = "service"
url = "/service/:slug?todos"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Gerardo\Services\Models\Service"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Record not found"
==
<?php
//use gerardo\Services\Models\Service;
//function onStart(){
  //$this['record'] = Service::Where('slug' , $slug)->first();
    //$this->page->title = $this['record']->title;
//}
?>
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

 <main>
 <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2>{{record.title}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
		<!--? Start Sample Area -->
 <section class="sample-text-area" style="background-color: #F6CD37">
			<div class="container box_1170">
				<h3 class="text-heading">{{record.description}}</h3>
				<h3 class="text-heading">{{record.date}}</h3>
				<h3 class="text-heading">{{record.location}}</h3>
				<p class="sample-text">{{record.content}}</p>
			</div>
		</section>
		<!-- End Sample Area -->	
	</main>